[submodule "Code/chalmersit-account"]
	path = Code/chalmersit-account
	url = https://github.com/cthit/chalmersit-account.git
[submodule "Code/chalmersit-laravel"]
	path = Code/chalmersit-laravel
	url = https://github.com/cthit/chalmersit-laravel.git
